@font-face {
  font-family: Malifaux;
  src: url("Malifaux-Rodent-Edition.ttf") format("truetype");
}

* {
  color: midnightblue;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: cornsilk;
}
h1 {
  font-size: 26px;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 1.4;
  font-family: sans-serif;
}

mark.mlfx {
  font-family: Malifaux, sans-serif;
}

span {
  font-size: 16px;
}

ul {
  list-style: none;
}
